

body {
	font-family: Calibri;
	line-height: 1.6;  
	font-size: 20px;
	margin-top: 50px;
}
img{
	width: 420px;
	height: 500px;
	display: flex;
	float: left;
}

h1 {
	font-family: Calibri;
	font-weight: 900;
	font-size: 40px;
	line-height: .8;
	margin-top: 80px;
	margin-bottom: 50px;
}
h4 {
	text-align:center;
}
.text-center {
  text-align: center;
}

nav {
	width: auto;
	
}

.container {
	width: auto;
	height: 650px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid ;
}

a {
  color: whitesmoke;
  font-weight: bold;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #669999;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: pink;
}
.contact {
  float:right;
  text-align: center;
  margin:0px 5px 0px 5px;
  text-decoration: none;
	
}
.row {  
  display: flex;
  flex-wrap: wrap;
}

box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  flex:50%;
  float: left;
  background-color: #ffffff;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.column-row:after {
  float:right;
  content: "";
  display: table;
  clear: both;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.experince {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
